<template>
    <div>
        <Loader v-if="$store.getters.LOADING"/>
        <div>
            <div class="chat-room" v-if="$store.getters.NAME">
                <dList :list=$store.getters.LIST />
                <router-view :key="$route.path" :parts=$store.getters.MESSAGE ></router-view>
            </div>
            <Enter v-else />
        </div>
    </div>
</template>

<script>
//    Компоненты
    import dList from '../list/list.vue';
    import Loader from '../preloader/preloader.vue';
    import Enter from '../enter-block/enter-block.vue';

    export default {
        name: "chat-room",
        components: {
            dList,
            Loader,
            Enter
        },
        watch: {
            '$route'() {
                if (this.$route.path == '/') {
                    this.$store.commit('SET_NAME', '');
                } else {
                    this.$store.dispatch('GET_MESSAGE_CHAT_ROOM', this.$route.params.id);
                }
            }
        },
        created() {
            this.$store.dispatch('GET_DATA_CHAT_ROOM');
        },
    }
</script>

<style scoped lang="scss" src="./chat-room.scss"></style>