<template>
    <input type="text" id="input" class="input" placeholder="Введите текст..." v-model="value" @change="changeInput">
</template>

<script>
    export default {
        name: "inputMessage",
        data () {
            return {
                value: ''
            }
        },
        methods: {
            changeInput() {
                this.$emit('input', this.value);
                this.value = '';
            }
        }
    }
</script>

<style scoped lang="scss" src="./input.scss"></style>