.list-item {
    padding: 21px 20px 21px 23px;
    border-bottom: 1px solid #E9EDF2;
    border-left: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    display: block;
    text-decoration: none;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: #ffffff;
        border-left-color: #398BFF;
    }

    &.is-active {
        background-color: #ffffff;
        border-left-color: #398BFF;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        color: #35383D;
        font-weight: 700;
    }

    &__date {
        letter-spacing: 0.05em;
        font-size: 10px;
        line-height: 14px;
        color: #B7C0C8;
    }

    &__text {
        font-size: 13px;
        line-height: 18px;
        color: #7D8790;
    }
}