<template>
    <router-link :to="`${item.id}`" class="list-item"  exact active-class="is-active">
        <span class="list-item__top">
            <span class="list-item__title">{{ item.title }}</span>
            <span class="list-item__date">{{ item.date }}</span>
        </span>
        <span class="list-item__bottom">
            <span class="list-item__text">{{ item.message }}</span>
        </span>
    </router-link>
</template>

<script>
    export default {
        props: ["item"],
        name: "list-item"
    }
</script>

<style scoped lang="scss" src="./list-item.scss"></style>