<template>
    <div class="text-block text-block--user" v-if="message.user">
        <div class="text-block__wrapper">
            <div class="text-block__text" v-if="message.message">
                <span>{{ message.message }}</span>
                <span class="text-block__preloader" v-if="message.loaded">
                    <Loader/>
                </span>
            </div>
            <div class="text-block__info" v-if="$store.getters.NAME|| message.date">
                <span class="text-block__name" v-if="$store.getters.NAME">{{ $store.getters.NAME }}</span>
                <span class="text-block__date" v-if="message.date">{{ message.date }}</span>
            </div>
        </div>
    </div>

    <div class="text-block" v-else>
        <div class="text-block__wrapper">
            <div class="text-block__text" v-if="message.message">{{ message.message }}</div>
            <div class="text-block__info" v-if="message.name || message.date">
                <span class="text-block__name" v-if="message.name">{{ message.name }}</span>
                <span class="text-block__date" v-if="message.date">{{ message.date }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from '../preloader/preloader.vue';

    export default {
        props: ["message"],
        name: "text-block",
        components: {
            Loader
        }
    }
</script>

<style scoped lang="scss" src="./text-message.scss"></style>