.text-block {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;

    &--user {
        justify-content: flex-start;

        .text-block {
            &__info {
                justify-content: flex-start;
                align-items: flex-end;
            }

            &__text {
                border-radius: 8px 8px 8px 0px;
                background-color: #F6F7F9;
            }
        }
    }

    &__wrapper {
        max-width: 380px;
        position: relative;
    }

    &__info {
        display: flex;
        align-items: flex-end;
    }

    &__text {
        color: #475453;
        font-size: 14px;
        padding: 21px 21px 16px 22px;
        margin-bottom: 15px;
        border-radius: 8px 8px 0 8px;
        background-color: #E9F5F4;
        position: relative;
    }
    
    &__name {
        color: #000;
        margin-right: 12px;
        font-size: 13px;
        line-height: 1;
    }

    &__date {
        color: #B7C0C8;
        font-size: 10px;
        line-height: 1;
    }

    &__preloader {
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
    }
}