<template>
    <div class="chat-room-window">
        <Loader v-if="$store.getters.PART_LOADING"/>
        <div class="chat-room-window__first" v-else>
            <div class="chat-room-window__last" v-if="parts.length">
                <simplebar class="chat-room-window__window-dialog-wrapper" data-simplebar-auto-hide="false">
                    <div class="chat-room-window__window-dialog js-window-dialog" ref="simple">
                        <dMess v-for="message in parts" :message=message :key="message.id" />
                    </div>
                </simplebar>
                <div class="chat-room-window__send-message">
                    <dForm @submitForm="submit" @saveMessage="saveMessage" />
                </div>
            </div>
            <div class="chat-room-window chat-room-window--empty" v-else>
                <div class="chat-room-window__empty">
                    Сообщений нет
                </div>
                <div class="chat-room-window__send-message">
                    <dForm @submitForm="submit" @saveMessage="saveMessage" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import simplebar from 'simplebar-vue';
    import axios from 'axios';
    import scrollIntoView from 'scroll-into-view-if-needed';

    // Компоненты
    import dMess from '../text-block/text-block.vue';
    import dForm from '../form/form.vue';
    import Loader from '../preloader/preloader.vue';

    export default {
        props: ["parts"],
        name: "chat-room-window",
        components: {
            dMess,
            dForm,
            simplebar,
            Loader
        },
        data() {
            return {
                message: ''
            }
        },
        mounted() {
            setTimeout(() => {
                scrollIntoView(this.$refs.simple, {behavior: 'instant', scrollMode: 'if-needed', block: 'end'})
            }, 1000)
        },
        methods: {
            /**
             * Отправка данных формы
             * @param form - форма
             */
            submit(form) {
                if (this.message.length > 0) {
                    axios.get('CHAT_SUBMIT_SUCCESS.json', {
                        message: this.message
                    })
                    .then(() => {
                        this.disabledForm(form, true);
                        this.$store.commit('SET_WRITE_MESSAGE', { message: this.message, id: this.parts.length + 1});
                        this.$store.commit('SET_NEW_ITEM_LOAD', { index: this.parts.length - 1, status: true });
                        this.message = '';
                    })
                    // eslint-disable-next-line no-console
                    .catch(error => console.log(error))
                    .finally(
                        setTimeout(() => {
                            this.disabledForm(form, false);
                            this.$store.commit('SET_NEW_ITEM_LOAD', { index: this.parts.length - 1, status: false });
                            scrollIntoView(this.$refs.simple, {behavior: 'smooth', scrollMode: 'if-needed', block: 'end'})
                        }, 300)
                    )
                }
            },

            /**
             * Блокировка/разблокировка формы
             * @param form - форма
             */
            disabledForm(form, action) {
                action ? form.classList.add('is-disabled') : form.classList.remove('is-disabled');
            },

            /**
             * Получем сообщение от потомков
             * @param message - сообщение
             */
            saveMessage(message) {
                this.message = message
            },
        }
    }
</script>

<style lang="scss" src="./chat-room-window.scss"></style>