.chat-room-window {
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
    flex: 1 0 70%;
    box-shadow: -5px 0px 20px -10px rgba(0,0,0,0.15);
    z-index: 1;
    position: relative;
    
    &__empty {
        padding: 10px 16px 24px 39px;
        font-size: 14px;
        color: #656B77;
        flex-basis: 616px;
        max-height: 640px;
        display: flex;
        align-items: flex-end;
    }

    &__window-dialog {
        padding: 10px 16px 24px 39px;
    }

    &__window-dialog-wrapper {
        height: 640px;

        .simplebar-scrollbar {
            right: 0;
            width: 5px;

            &:before {
                background-color: #398BFF;
            }
        }

        .simplebar-content-wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
        }

        .simplebar-content {
            width: 100%;
        }
    }

    &__first {
        height: 100%;
    }

    &__last {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
    }
}