.send-button {
    border: none;
    background-color: #398BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: 400 13.3333px TTNorms;
    transition: opacity 0.3s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}