<template>
    <form class="form" id="form" @submit.prevent="submitForm">
        <div class="form__wrapper-input">
            <Input @input="writeData" />
        </div>
        <div class="form__wrapper-button">
            <Button/>
        </div>
    </form>
</template>

<script>
    import Button from '../button/button.vue';
    import Input from '../input/input.vue';

    export default {
        name: "formMessage",
        components: {
            Button,
            Input
        },
        methods: {
            /**
             * Отправка формы
             */
            submitForm(e) {
                this.$emit('submitForm', e.target);
            },


            /**
             * Записываем в message полученные данные
             * @param data - отправленное сообщение
             */
            writeData(data) {
                this.$emit('saveMessage', data);
            }
        }
    }
</script>

<style scoped lang="scss" src="./form.scss"></style>