.form {
    display: flex;
    justify-content: space-between;
    position: relative;

    &.is-disabled {
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            opacity: 0.7;
            left: 0;
            top: 0;
        }
    }

    &__wrapper-input {
        flex: 1 0 auto;
        border-top: 1px solid #E9EDF2;
    }

    &__wrapper-button {
        flex: 0 0 80px;
    }

    ::-webkit-input-placeholder {
        font-size: 14px;
        color: #7D8790;
        font-family: "TTNorms", sans-serif;
    }
    ::-moz-placeholder          {
        font-size: 14px;
        color: #7D8790;
        font-family: "TTNorms", sans-serif;
    }
    :-moz-placeholder           {
        font-size: 14px;
        color: #7D8790;
        font-family: "TTNorms", sans-serif;
    }
    :-ms-input-placeholder      {
        font-size: 14px;
        color: #7D8790;
        font-family: "TTNorms", sans-serif;
    }
}