<template>
    <div class="list">
        <div class="list__header">
            <span class="list__header-title">Сообщения</span>
            <span class="list__header-number">{{this.list.length}}</span>
        </div>
        <div class="list__middle">
            <simplebar class="list__middle-wrapper" data-simplebar-auto-hide="false">
                <dListItem v-for="item in list" :item="item" :key="item.id"/>
            </simplebar>
        </div>
    </div>
</template>

<script>
    import simplebar from 'simplebar-vue';

    // Компоненты
    import dListItem from '../list-item/list-item.vue';

    export default {
        props: ["list"],
        name: "list",
        components: {
            dListItem,
            simplebar
        }
    }
</script>

<style lang="scss" src="./list.scss"></style>