.list {
    background-color: #F3F6F8;
    display: flex;
    flex-flow: column;
    flex: 1 0 30%;
    padding-bottom: 60px;

    &__header {
        display: flex;
        flex-flow: row wrap;
        padding: 24px 20px 15px;
        font-size: 14px;
        line-height: 20px;
        border-bottom: 1px solid #E9EDF2;
    }

    &__header-title {
        color: #656B77;
        margin-right: 10px;
    }

    &__header-number {
        color: #D2D8DE;
        font-weight: 700;
    }

    &__middle-wrapper {
        max-height: 600px;
        border-bottom: 1px solid #E9EDF2;

        .simplebar-scrollbar {
            right: 0;
            width: 5px;

            &:before {
                background-color: #398BFF;
            }
        }
    }
}