@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-Black.otf');
    src: url('/public/fonts/TTNorms-Black.otf') format('otf');
    font-weight: 900;
}

@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-BlackItalic.otf');
    src: url('/public/fonts/TTNorms-BlackItalic.otf') format('otf');
    font-weight: 900;
}

@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-Bold.otf');
    src: url('/public/fonts/TTNorms-Bold.otf') format('otf');
    font-weight: 700;
}


@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-BoldItalic.otf');
    src: url('/public/fonts/TTNorms-BoldItalic.otf') format('otf');
    font-weight: 700;
}

@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-Medium.otf');
    src: url('/public/fonts/TTNorms-Medium.otf') format('otf');
    font-weight: 500;
}

@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-MediumItalic.otf');
    src: url('/public/fonts/TTNorms-MediumItalic.otf') format('otf');
    font-weight: 500;
}

@font-face {
    font-family: 'TTNorms';
    src: url('/public/fonts/TTNorms-Regular.otf');
    src: url('/public/fonts/TTNorms-Regular.otf') format('otf');
    font-weight: 400;
}