<template>
    <div class="preloader">
        <div class="preloader__circle"></div>
    </div>
</template>

<script>
    export default {
        name: "preloader"
    }
</script>

<style scoped lang="scss" src="./preloader.scss"></style>