.preloader {
    z-index: 5;

    &:before {
        content: '';
        background-color: #ffffff;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__circle {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: #398BFF;
            top: 0;
            bottom: 50%;
            left: 50%;
            right: 0;
            color: #398BFF;
            animation: preloader 1s linear infinite;
        }

        &:after {
            top: 50%;
            bottom: 0;
            animation-delay: .25s;
        }
    }
}

@keyframes preloader {
    0%, 100% {
        box-shadow: -10px 0 0 transparent;
    }

    50% {
        box-shadow: -10px 0 0 currentColor;
        background-color: transparent;
    }
}

@keyframes preloader-big {
    0%, 100% {
        box-shadow: -25px 0 0 transparent;
    }

    50% {
        box-shadow: -25px 0 0 currentColor;
        background-color: transparent;
    }
}
