.enter-form {
    &__label {
        display: block;
        font-size: 18px;
        color: #656B77;
    }

    &__input {
        width: calc(100% - 5px);
        height: 30px;
        margin: 15px 0;
        display: block;
        padding: 0 0 0 5px;
    }

    &__button {
        border: none;
        background-color: #398BFF;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 16px;
        padding: 10px;
        transition: opacity 0.3s;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__error {
        color: red;
        font-size: 13px;
    }

    ::-webkit-input-placeholder {
        font-size: 14px;
        color: #7D8790;
    }
    ::-moz-placeholder          {
        font-size: 14px;
        color: #7D8790;
    }
    :-moz-placeholder           {
        font-size: 14px;
        color: #7D8790;
    }
    :-ms-input-placeholder      {
        font-size: 14px;
        color: #7D8790;
    }
}