<template>
    <form class="enter-form" @submit.prevent="submitForm">
        <div class="enter-form__group">
            <label for="name" class="enter-form__label">Имя</label>
            <input type="text" id="name" class="enter-form__input" placeholder="Имя" v-model=name>
            <div v-if="error.length">
                <p class="enter-form__error">{{ error }}</p>
            </div>
        </div>
        <button type="submit" class="enter-form__button">Войти</button>
    </form>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "enter-form",
        data() {
            return {
                name: '',
                error: ''
            }
        },
        methods: {
            submitForm() {
                if (this.name) {
                    this.loaded = true;
                    axios.get('CHAT_SUBMIT_SUCCESS.json', {
                        name: this.name
                    })
                    .then(() => {
                        this.$store.commit('SET_NAME', this.name);
                        this.$vuedals.close();
                        this.$router.push({ path: '/0' })
                    })
                    // eslint-disable-next-line no-console
                    .catch(error => console.log(error))
                } else {
                    this.error = 'Введите имя';
                }
            }
        }
    }
</script>

<style scoped lang="scss" src="./enter-form.scss"></style>