.enter-block {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    &__enter-button {
        border: none;
        background-color: #398BFF;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        padding: 10px;
        margin: auto;
        font: 400 13.3333px TTNorms;
        transition: opacity 0.3s;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 25px;
        display: block;
        margin-bottom: 15px;
    }
}

.enter-modal {
    .title {
        color: #656B77;
    }
}