<template>
    <div class="enter-block">
        <div class="enter-block__wrapper">
            <div class="enter-block__title">
                Привет! Предлагаю войти в чат!
            </div>
            <button type="button" class="enter-block__enter-button" @click=showModal>Войти</button>
            <vuedal ref="vuedals"/>
        </div>
    </div>
</template>

<script>
    import { Component as Vuedal } from 'vuedals';
    import EnterForm from '../enter-form/enter-form.vue';

    export default {
        name: "enter-block",
        components: {
            Vuedal
        },
        methods: {
            showModal() {
                this.$vuedals.open({
                    name: 'enter-modal',
                    title: "Войти в чат",
                    component: EnterForm
                });
            }
        }
    }
</script>

<style lang="scss" src="./enter-block.scss"></style>