<template>
    <chatRoom />
</template>

<script>
    import chatRoom from './components/chat-room/chat-room.vue';
    import 'simplebar/dist/simplebar.min.css';
    import '../public/fonts/fonts.scss';

    export default {
      name: 'app',
      components: {
          chatRoom
      }
    }
</script>

<style lang="scss" src="./app.scss"></style>
